<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gfabrego.organizelayoutssample">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.ActivityOne"
            android:label="Activity one">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ActivityTwo"
            android:label="Activity two"
            android:parentActivityName=".activity.ActivityOne">
        </activity>

        <activity
            android:name=".activity.ActivityThree"
            android:label="Activity three"
            android:parentActivityName=".activity.ActivityTwo">
        </activity>
    </application>

</manifest>
